$main-color: #409EFF !default;
$black-color: #333333 !default;
$white-color: #ffffff !default;

$line-color:yellow !default;
$background-color:#cfcfcf !default;

$title-size:30px !default;

$animation-time:0.5s;